body {
    margin: 0;
    overflow-x: hidden;
    background-color: #F3F6F7;
    padding-bottom: 25px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 15px 60px 15px;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1020;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    color: black;
    font-family: "router", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.nav-link {
    color: black;
    font-family: "router", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.nav-link:hover {
    color: #006d77;
    font-weight: bolder;
}
.titleFont {
    color: #006d77;
    text-align: center;
    margin: 25px 0 10px 0;
    font-family: "miller-display", serif;
    font-size: 75px;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    padding-top: 50px;
}
.headingFont {
    color: #006d77;
    text-align: center;
    margin: 25px 0 10px 0;
    font-family: "miller-display", serif;
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
}
.footer {
    background-color: #5C1919;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #F7FFFF;
    font-family: "router", sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.section {
    background-color: #E1F4F5;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "router", sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    color: #006d77;
    padding: 50px;
    margin: 100px;
    max-width: 100%;
    overflow: hidden;
}
.sectiontitle {
    text-decoration: underline;
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.sectionheading {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.grouptable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}
.grouptable th,
.grouptable td {
    border: 4px solid #5C1919;
    padding: 12px 15px;
    background-color: #f2f2f2;
    text-align: left;
}
.grouptable th {
    background-color: #5C1919;
    color: white;
    font-size: 30px;
    text-align: center;
}
.summercamplogo {
    max-width: auto;
    height: 500px;
    justify-content: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px;
}
.icons {
    width: 250px;
    height: 250px;
    background-color: white;
}
.contactusfont {
    font-family: "kranto-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
    margin: 20px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}
.flip-card-back {
    transform: rotateY(180deg);
}
.featuresimg {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 45%;
    height: auto;
}
.featureslist {
    padding-left: 100px;
}
.ditlimg {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    height: auto;
    margin-top: 50px;
}
